# Stuff Lending Test Report

* Test report :


|Case| Result||Notes|
|-----------|--------------|-----------|--------------|
| 5.1 | Ok          | |
| 1.1 | Ok          | |
| 1.2 | Ok          | |
| 1.3 | Ok          | |
| 2.1 | Ok          | |
| 2.2 | Ok          | |
| 2.3 | Ok          | |
| 3.1 | Ok          | |
| 3.2 | Ok          | |
| 3.3 | Ok          | |
| 3.4 | Ok          | |
| 3.5 | Ok          | |
| 3.6 | Ok          | |
| 4.1 | Ok          | |
